body{
    background-image: url('../../assets/FondoPaginaWeb.png');     
  }
  #centro{
    background-color: white; 
    border: 5px solid rgba(0, 195, 255, 0.486);  
    border-radius: 8px; 
    width: 1138px;
    height: 890px;
    margin: 0 auto;            
  } 
  #titulo{
    text-align: center;
    background-color: #FFCA7A; 
    border: 5px solid #5b020059; 
    border-radius: 3px;  
    width: 1128px;
    height: 25px;
  }
  #controles{
    background-color: #FFCA7A; 
    border: 5px solid #5b020059; 
    border-radius: 8px; 
    width: 1138px;
    margin: 0 auto;  
    display: table; 
  }
  #titulo img{    
    margin-top: -1.2%;
    width: 9%;         
  }
  #TutJug1 img{
    margin-top: 1%;
    margin-left: 5%;
    width: 45%;  
    float: left;
  }
  #TutJug2 img{
    margin-top: 1%;
    margin-right: 5%;
    width: 45%;  
    float: right;
  }
  canvas{     
    border: 5px solid rgba(30, 149, 185, 0.678); 
    border-radius: 3px;    

  }